.flag-input input {
    width: 100%;
}

.intl-tel-input.outside {
    border: 1px solid #CCC;
}

    .intl-tel-input.outside input {
        width: 210px;
    }

        .intl-tel-input.outside input[disabled] + .flag-dropdown {
            background-color: #eee;
        }

.intl-tel-input {
    position: relative;
    display: inline-block;
    width: 100%;
}

    .intl-tel-input .hide {
        display: none;
    }

    .intl-tel-input .intl-tel-input-position {
        position: relative;
    }

    .intl-tel-input .flag-dropdown {
        position: absolute;
        top: 0;
        bottom: 0;
    }

        .intl-tel-input .flag-dropdown .selected-flag {
            z-index: 0;
            position: relative;
        }

        .intl-tel-input .flag-dropdown .country-list {
            position: absolute;
            z-index: 2;
        }

    .intl-tel-input .country-list {
        list-style: none;
    }

    .intl-tel-input .flag-dropdown:hover {
        cursor: pointer;
    }

    .intl-tel-input input[disabled] + .flag-dropdown:hover {
        cursor: default;
    }

    .intl-tel-input input {
        position: relative;
        z-index: 0;
        display: block;
    }

    .intl-tel-input.pretty .flag-dropdown:hover .selected-flag {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .intl-tel-input.pretty input[disabled] + .flag-dropdown:hover .selected-flag {
        background-color: transparent;
    }

    .intl-tel-input.pretty .flag-dropdown .selected-flag {
        width: 38px;
        height: 100%;
        padding: 0 16px 0 6px;
    }

        .intl-tel-input.pretty .flag-dropdown .selected-flag .flag {
            position: absolute;
            top: 50%;
            margin-top: -5.5px;
        }

        .intl-tel-input.pretty .flag-dropdown .selected-flag .down-arrow {
            top: 3.5px;
            position: relative;
            left: 20px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid black;
        }

    .intl-tel-input.pretty .flag-dropdown .country-list {
        padding: 0;
        margin: 0 0 0 -1px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        background-color: white;
        border: 1px solid #cccccc;
        width: 285px;
    }

        .intl-tel-input.pretty .flag-dropdown .country-list .divider {
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid #cccccc;
        }

        .intl-tel-input.pretty .flag-dropdown .country-list .country {
            line-height: 11px;
            padding: 7px 10px;
            color: #333;
        }

            .intl-tel-input.pretty .flag-dropdown .country-list .country .dial-code {
                color: #999999;
            }

            .intl-tel-input.pretty .flag-dropdown .country-list .country.highlight {
                background-color: rgba(0, 0, 0, 0.05);
            }

        .intl-tel-input.pretty .flag-dropdown .country-list .flag {
            display: inline-block;
            vertical-align: bottom;
        }

        .intl-tel-input.pretty .flag-dropdown .country-list .flag, .intl-tel-input.pretty .flag-dropdown .country-list .country-name {
            margin-right: 6px;
        }

    .intl-tel-input.inside .flag-dropdown {
        padding: 8px;
    }

    .intl-tel-input.inside input {
        /* width: 100%; padding-left:10%;*/
    }

    .intl-tel-input.outside input {
        border: none;
        margin-left: 38px !important;
    }
    /** Originally from https://github.com/tkrotoff/famfamfam_flags Then converted to SCSS and simplified/optimised, and removed full country classes (as we only deal in 2 digit country codes) */
    .intl-tel-input .flag {
        width: 16px;
        height: 11px;
        background: url("../img/flags.png");
    }

    .intl-tel-input .it {
        background-position: -96px -144px;
    }

    .intl-tel-input .us {
        background-position: -16px -44px;
    }

    .intl-tel-input .es {
        background-position: -176px -143px;
    }

    .intl-tel-input .fr {
        background-position: -176px -44px;
    }


@media (min-width: 768px) {
    .intl-tel-input .flag {
        width: 25px;
        height: 20px;
        background: url("../img/tabflags.png");
    }

    .intl-tel-input .it {
        background-position: -150px -260px;
    }

    .intl-tel-input .us {
        background-position: -25px -80px;
    }

    .intl-tel-input .es {
        background-position: -275px -260px;
    }

    .intl-tel-input .fr {
        background-position: -275px -80px;
    }

    .intl-tel-input.pretty .flag-dropdown .selected-flag .down-arrow{
        left: 30px;
        top: 7.5px;
    }
    .intl-tel-input.pretty .flag-dropdown .selected-flag .flag{
        margin-top: -8.5px;
    }
}
